.weather-search {
  display: block;
  margin: auto;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: rgba(39, 33, 66, 0.4);
  margin-top: 50px;
  max-width: 760px;
}

.weather-search form {
  margin-top: 30px;
  padding-bottom: 30px;
}

.weather-search .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  font-size: 16px;
  height: 50px;
  color: rgba(39, 33, 66, 0.4);
}

.btn {
  background: #885df1;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

h1 {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

ul {
  padding: 0px;
}

li {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

li strong {
  color: #f65282;
  font-weight: 400;
}

.temperature-column {
  padding-left: 10px;
  padding-top: 10px;
  float: right;
  text-align: right;
}

.temperature-column img {
  position: relative;
  top: -31px;
  right: -15px;
}

.temperature {
  color: #212121;
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
}

.units {
  font-size: 28px;
  font-weight: 400;
  position: relative;
  top: -34px;
}

.units a {
  color: #885df1;
  text-decoration: none;
}

.weather-search .active {
  color: #212121;
  cursor: default;
}

.weather-search :hover {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  margin-top: 40px;
}

.forecast-icon {
  display: block;
  margin: auto;
  width: 38px;
  height: 38px;
}

footer {
  text-align: center;
  font-size: 14px;
  padding-top: 50px;
}

footer a {
  color: #885df1;
  text-decoration: none;
}
footer a :hover {
  cursor: pointer;
  text-decoration: underline;
}
